$yellow: #fffa19;
$rojo: #db4a39;
$verde: #075e54;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 5px);
}

.carousel h5 {
	background-color: $rojo;
}

.carousel p {
	background-color: $verde;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserve {
	width: 100%;
	border-radius: 0;
}

.footer-adress-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}