.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 5px; }

.carousel h5 {
  background-color: #db4a39; }

.carousel p {
  background-color: #075e54; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserve {
  width: 100%;
  border-radius: 0; }

.footer-adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */
